$color-blue-dark:   #303f9f;
$color-blue:        #3f51b5;
$color-blue-light:  #c5cae9;
$color-white:   	#fff;
$color-orange:      #ff5722;
$color-gray-dark:   #212121;
$color-gray: 		#727272;
$color-gray-light:  #b6b6b6;
